<!DOCTYPE html>


<h1 class="profile-title">My profile</h1>
<div class="profile-page">
  <p>Username : {{ user.Username }}</p>
  <p>Email : {{ user.Email }}</p>
</div>
<mat-card>
  <mat-card-content>
    <form>
      <h1>Update Profile :</h1>

      <mat-form-field>
        <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.BirthDate" type="date" placeholder="BirthDate" name="BirthDate">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="updateUser()" style="margin-right: 10px;" color="primary">
          Update Info
        </button>

        <button mat-raised-button (click)="deleteUserProfile()" style="margin-right: 10px;" color="primary">
          Delete Account
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>